pillow
protobuf
funcsigs
future
imageio
imageio-ffmpeg
matplotlib
requests
PyYAML
numpy<2.0
json_numpy
fastapi
uvicorn
absl-py
opencv-python
gym
pyquaternion
opencv-python
git+https://github.com/youliangtan/edgeml.git